{% extends "base.html" %}

{% block navbar %}
{% endblock navbar %}

{% block content %}
  <style>
    .hero:first-of-type {
      background: linear-gradient(150deg,#e4e3e3 0%, #c7d5d8 100%);
      height: 100vh;
      align-items: center;
    }
  </style>

  <section class="section hero is-fullheight banner">
    <div class="hero-body">
      <div class="container has-text-centered ">
        <img class="is-hidden-touch" src="{{ get_url(path='brand-banner-full.svg') }}"/>
        <img class="is-hidden-desktop" src="{{ get_url(path='brand-banner-compact.svg') }}"/>
      </div>
    </div>
    <div class="hero-foot">
      <div class="container has-text-centered ">
        <a onclick="document.getElementById('content').scrollIntoView({behavior: 'smooth'})">Find out more ⇩</a>
      </div>
    </div>
  </section>
  
  <section class="section" id="content">
    <div class="container content">
      <div class="columns is-8-desktop has-text-centered">
        <div class="column">
          <figure>
              <img src="{{ get_url(path='icons/ideas.svg') }}" style="max-height: 80px"/>
          </figure>
          <h3>Product Prototyping</h3>
          <p>
              From your ideas to a viable product.<br/>
              We choose the most suitable tech for you to face the market as soon as possible.
          </p>
        </div>
        <div class="column">
          <figure>
              <img src="{{ get_url(path='icons/artificial-intelligence.svg') }}" style="max-height: 80px"/>
          </figure>
          <h3>Embedded AI</h3>
          <p>
              We fit your Data Scientists' models on edge devices.<br/>
              Freeing you from the recurring cost and burden of managing an inference backend.
          </p>
        </div>
        <div class="column">
          <figure>
              <img src="{{ get_url(path='icons/iphone.svg') }}" style="max-height: 80px"/>
          </figure>
          <h3>iOS &amp; macOS Applications</h3>
          <p>
              Using Apple's native environment, we build and release your app according to your needs.
          </p>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}